@charset "UTF-8";
/* stylelint-disable */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

body {
  width: 100%;
  min-width: 320px;
  max-width: 2560px;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: #ffffff;
  box-sizing: border-box; }

@media (min-width: 960px) {
  body {
    font-size: 18px;
    line-height: 30px; } }

.page-main {
  position: relative;
  padding-top: 65px;
  color: #283645;
  background-color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain; } }

.page-main--index {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: top 176px left calc(50% - 30px), top center;
  background-repeat: no-repeat, no-repeat;
  background-size: 258px, 320px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main--index {
      background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
      background-size: 258px, contain; } }

.page-main__title {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  margin: 0;
  padding: 30px 0;
  color: #ffffff;
  text-align: center; }

.page-main__title--index {
  padding-top: 24px;
  padding-bottom: 18px; }

.page-main__title--contest {
  padding-bottom: 0; }

.page-main__text {
  padding: 23px 0;
  line-height: 30px;
  text-align: center; }

.page-main__title--photo,
.page-main__title--contest {
  margin-bottom: 51px; }

.page-main__text--photo {
  padding: 45px 15px 10px; }

.page-main__text--contest {
  padding: 45px 0 6px; }

.page-main__text--form-title {
  display: none; }

.page-main__intro {
  margin: 0;
  margin-top: 295px;
  padding: 0; }

.page-main__wrapper {
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

.page-main__photos {
  margin: 0;
  padding: 0;
  padding-top: 25px; }

.page-main__constructor {
  margin: 19px 0 0;
  padding: 20px 0 40px; }

.page-main__information {
  margin: 0;
  padding: 30px 0; }

.page-main__reviews {
  margin: 0;
  padding: 0; }

.page-main__prices {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 10px; }

.page-main__contacts {
  margin: 0;
  margin-top: 40px;
  padding: 0; }

.page-main__contest {
  margin: 0; }

@media (min-width: 660px) {
  .page-main {
    padding-top: 178px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 728px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .page-main {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: top center; } }

@media (min-width: 660px) {
  .page-main--index {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: top 209px right calc(50% + 10px), top center;
    background-repeat: no-repeat, no-repeat;
    background-size: 700px auto, auto 728px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .page-main--index {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg"); } }

@media (min-width: 660px) {
  .page-main__title {
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    padding-bottom: 75px;
    text-align: center; }
  .page-main__title--index {
    width: 245px;
    margin-top: 25px;
    margin-left: 25px;
    padding-bottom: 0;
    line-height: 48px;
    box-sizing: border-box; }
  .page-main__title--photo {
    margin-bottom: 67px;
    font-size: 50px;
    line-height: 60px; }
  .page-main__title--contest {
    margin-bottom: 0;
    font-size: 50px;
    line-height: 60px; }
  .page-main__intro {
    width: 340px;
    margin-top: 31px;
    margin-bottom: 110px; }
  .page-main__text {
    padding: 28px 30px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    margin-top: 38px; }
  .page-main__text--photo {
    padding-top: 90px;
    padding-bottom: 35px; }
  .page-main__text--contest {
    margin-top: 7px;
    margin-bottom: 0;
    padding: 90px 30px 0; }
  .page-main__text--form-title {
    display: block;
    margin: 0 auto;
    padding: 0; }
  .page-main__information {
    padding-top: 47px; }
  .page-main__prices {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 70px; }
  .page-main__contacts {
    margin-top: 45px; }
  .page-main__wrapper {
    margin-top: 0; }
  .page-main__constructor {
    margin-top: 40px;
    padding: 57px 0 54px; } }

@media (min-width: 960px) {
  .page-main {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 854px; }
  .page-main--index {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: top 209px right calc(50% - 70px), top center;
    background-repeat: no-repeat, no-repeat;
    background-size: 1050px auto, auto 854px; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
    .page-main--index {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg"); } }

@media (min-width: 960px) {
  .page-main__title {
    font-size: 50px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 66px;
    letter-spacing: normal; }
  .page-main__title--index {
    margin-top: 36px;
    margin-left: 25px; }
  .page-main__title--photo {
    width: 655px;
    margin: 0 auto;
    line-height: 66px; }
  .page-main__title--contest {
    width: 900px;
    margin: 0 auto; }
  .page-main__text {
    width: 640px;
    margin: 0 auto; }
  .page-main__text--photo {
    padding-bottom: 53px; }
  .page-main__text--contest {
    width: 780px; }
  .page-main__text--form-title {
    display: inline; }
  .page-main__text-newline {
    display: block; }
  .page-main__intro {
    width: 320px;
    margin-top: 36px;
    margin-bottom: 115px; }
  .page-main__information {
    padding-top: 70px; }
  .page-main__prices {
    margin: 10px 0 0;
    padding: 8px 0 97px; }
  .page-main__contacts {
    margin-top: 63px; }
  .page-main__constructor {
    margin: 37px auto 28px;
    padding-bottom: 57px; }
  .page-main__wrapper {
    margin-top: 22px; }
  .page-main__photos {
    padding-top: 36px; } }

.page-header__nav {
  position: relative;
  z-index: 1;
  margin-bottom: -66px; }

@media (min-width: 660px) {
  .page-header__nav {
    margin-bottom: -110px; } }

@media (min-width: 960px) {
  .page-header__nav {
    background-color: rgba(0, 0, 0, 0.3); } }

.page-footer {
  padding: 40px 0 39px; }

.page-footer--index {
  display: block; }

.page-footer__logo {
  text-align: center; }

.page-footer__logo-link {
  display: block;
  height: 100%;
  color: #283645; }
  .page-footer__logo-link:hover {
    color: #d22856; }
  .page-footer__logo-link:active {
    color: rgba(40, 54, 69, 0.3); }

.page-footer__social {
  padding: 36px 0 26px; }

.page-footer__developer {
  margin: 0;
  padding: 0;
  text-align: center; }

.page-footer__logo-image--mobile {
  display: inline-block; }

.page-footer__logo-image--desktop {
  display: none; }

@media (min-width: 660px) {
  .page-footer__logo-image--mobile {
    display: inline-block; }
  .page-footer__logo-image--desktop {
    display: none; }
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0; }
  .page-footer--index {
    display: flex; }
  .page-footer__social {
    padding: 0;
    padding-top: 10px;
    padding-right: 20px; } }

@media (min-width: 960px) {
  .page-footer__logo-image--mobile {
    display: none; }
  .page-footer__logo-image--desktop {
    display: inline-block; }
  .page-footer {
    padding: 63px 0; }
  .page-footer__social {
    padding: 0;
    padding-top: 14px;
    padding-left: 5px; } }

.range {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  box-sizing: border-box; }

.range__bar {
  width: 100%;
  height: 2px;
  background-color: #283645; }

.range__toggle {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 14px;
  height: 15px;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translateY(50%);
  cursor: pointer; }
  .range__toggle:focus, .range__toggle:active, .range__toggle:hover {
    background-color: #d22856; }

.range__toggle--grey {
  background-color: #f2f2f2; }

.btn {
  display: inline-block;
  padding: 22px  39px 22px 40px;
  box-sizing: border-box;
  vertical-align: middle;
  font: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  cursor: pointer; }
  .btn:hover {
    background-color: #1c9b5e; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e; }
  .btn:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
    cursor: default; }

.btn--disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default; }

.btn-round {
  display: inline-block;
  padding: 15px 20px 16px 20px;
  box-sizing: border-box;
  vertical-align: middle;
  font: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.7px;
  color: #283645;
  background-color: transperent;
  border: 3px solid #283645;
  border-radius: 30px;
  cursor: pointer; }
  .btn-round:disabled {
    background-color: rgba(229, 229, 229, 0.1);
    color: #ffffff; }

.btn-round--download {
  color: #ffffff;
  border: 3px solid #ffffff; }
  .btn-round--download:hover {
    color: #d22856;
    background-color: #ffffff; }
  .btn-round--download:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #ffffff; }

.btn-round--upload {
  color: #d22856;
  border: 3px solid #d22856; }
  .btn-round--upload:hover {
    color: #ffffff;
    background-color: #d22856; }
  .btn-round--upload:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d22856; }

.btn-round--reset {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1); }
  .btn-round--reset:hover {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3); }
  .btn-round--reset:active {
    color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
    background-color: rgba(40, 54, 69, 0.3); }

.btn-round---disabled {
  background-color: rgba(229, 229, 229, 0.1);
  color: #ffffff; }

@media (min-width: 960px) {
  .btn-round {
    font-size: 21px; } }

.checkbox__value {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.checkbox__label {
  position: relative;
  padding-left: 70px; }
  .checkbox__label::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 39px;
    height: 39px;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    background-color: #ffffff; }
  .checkbox__label:hover::before {
    border: 2px solid #283645; }
  .checkbox__label:active::before {
    border: 2px solid #d22856; }

.checkbox__value:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  min-width: 20px;
  max-width: 21px;
  min-height: 9px;
  max-height: 10px;
  border-bottom: 2px solid #d22856;
  border-left: 2px solid #d22856;
  transform: rotate(-45deg); }

.checkbox__value:focus + .checkbox__label::before {
  box-shadow: 0 0 4px 0 #d22856; }

@media (min-width: 660px) {
  .checkbox__label {
    padding-left: 58px; } }

.radio__value {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.radio__label {
  position: relative;
  padding-left: 70px;
  cursor: pointer; }
  .radio__label::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 39px;
    height: 39px;
    box-sizing: border-box;
    border: solid 2px #e5e5e5;
    border-radius: 50%;
    background-color: #ffffff; }
  .radio__label:hover::before {
    border: 2px solid #283645; }
  .radio__label:active::before {
    border: 2px solid #d22856; }

.radio__value:checked + .radio__label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d22856; }

.radio__value:focus + .radio__label::before {
  box-shadow: 0 0 0 4px #d22856; }

@media (min-width: 660px) {
  .radio__label {
    padding-left: 58px; } }

.page__container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.page__container--full {
  max-width: 100%;
  margin: 0;
  padding: 0; }

.page__container--intro {
  max-width: 100%;
  margin: 0;
  padding: 0; }

.page__container--contest {
  max-width: 320px;
  margin: 0 auto;
  padding: 0; }

@media (min-width: 660px) {
  .page__container {
    max-width: 660px;
    padding: 0 20px; }
  .page__container--intro {
    max-width: 660px;
    margin: 0 auto;
    padding: 0; }
  .page__container--full {
    max-width: 100%;
    margin: 0;
    padding: 0; }
  .page__container--contest {
    max-width: 660px;
    margin: 0 auto;
    padding: 0; } }

@media (min-width: 960px) {
  .page__container {
    max-width: 960px;
    padding: 0 10px; }
  .page__container--intro {
    max-width: 960px;
    padding: 0; }
  .page__container--full,
  .page__container--contest {
    margin: 0 auto; }
  .container--none {
    margin: 0;
    padding: 0; } }

.main-nav__logo {
  margin: 0;
  padding-top: 21px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px; }

.main-nav__menu {
  margin: 0;
  padding: 0; }

@media (min-width: 960px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box; } }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 66px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3); }

.logo--active {
  background-color: #283645; }

.logo__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 0;
  color: #ffffff; }
  .logo__link:hover {
    color: #d22856; }
  .logo__link:active {
    color: rgba(255, 255, 255, 0.3); }

.logo__image-mobile {
  margin: 0;
  padding: 0; }

.logo__image-tablet {
  display: none;
  margin: 0;
  padding: 0; }

.logo__image-desktop {
  display: none;
  margin: 0;
  padding: 0; }

.logo__btn {
  position: relative;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border-style: none; }
  .logo__btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff; }
  .logo__btn:hover::before {
    background-color: #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856; }
  .logo__btn:active::before {
    background-color: #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
    opacity: 0.3; }

.logo__btn--close {
  position: relative; }
  .logo__btn--close::before, .logo__btn--close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 24px;
    width: 30px;
    height: 4px;
    background-color: #ffffff; }
  .logo__btn--close::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .logo__btn--close::after {
    transform: rotate(-45deg); }
  .logo__btn--close:hover::before, .logo__btn--close:hover::after {
    background-color: #d22856;
    box-shadow: none; }
  .logo__btn--close:active::before, .logo__btn--close:active::after {
    opacity: 0.3; }

@media (min-width: 660px) {
  .logo {
    align-items: flex-end;
    padding: 27px 20px 43px;
    height: 110px; }
  .logo__image-mobile {
    display: none; }
  .logo__image-tablet {
    display: block; }
  .logo__image-desktop {
    display: none; } }

@media (min-width: 960px) {
  .logo,
  .logo--active {
    position: static;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    background-color: transparent; }
  .logo__image-mobile {
    display: none; }
  .logo__image-tablet {
    display: none; }
  .logo__image-desktop {
    display: block; }
  .logo__btn,
  .logo__btn--close {
    display: none; } }

.menu {
  display: none;
  flex-direction: column;
  width: 100%;
  list-style: none; }

.menu--active {
  display: flex;
  background-color: #283645; }

.menu__item {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000; }
  .menu__item:nth-child(1) {
    position: relative;
    margin-top: 4px; }
    .menu__item:nth-child(1)::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000000; }

.menu__link {
  margin: 0;
  padding: 27px 5px;
  font: inherit;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }
  .menu__link:hover {
    color: #d22856; }
  .menu__link:active {
    opacity: 0.3; }

@media (min-width: 660px) {
  .menu__item:nth-child(1) {
    margin-top: 0; } }

@media (min-width: 960px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 625px;
    margin: 0;
    padding: 0;
    background-color: transparent; }
  .menu__item {
    width: auto;
    border-style: none;
    margin: 0;
    padding: 0; }
    .menu__item:nth-child(1) {
      box-shadow: none; }
    .menu__item:nth-child(1)::before {
      display: none; }
  .menu__link {
    text-transform: none;
    font-weight: 300; }
    .menu__link:active {
      color: rgba(255, 255, 255, 0.3); }
  .menu__link--active {
    position: relative; }
    .menu__link--active::after {
      content: "";
      position: absolute;
      bottom: 17px;
      left: 4px;
      height: 2px;
      width: calc(100% - 8px);
      background-color: #ffffff; }
    .menu__link--active:hover::after {
      background-color: #d22856; }
    .menu__link--active:active::after {
      background-color: rgba(255, 255, 255, 0.3); } }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center; }

.intro__wrapper {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 17px;
  background-color: #1d2631; }

@media (min-width: 660px) {
  .intro {
    background-color: transparent; }
  .intro__wrapper {
    margin: 0;
    padding: 0;
    background-color: transparent; } }

.mobile-os__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 30px 20px 2px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }

.mobile-os__text {
  font-weight: 300;
  color: #ffffff;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal; }

.mobile-os__btn {
  width: 100%; }

.mobile-os__link {
  display: block;
  height: 100%; }

@media (min-width: 660px) {
  .mobile-os__list {
    padding: 45px 30px 30px; }
  .mobile-os__text {
    margin: 0;
    padding: 0;
    font-size: 18px; } }

@media (min-width: 960px) {
  .mobile-os__list {
    padding-top: 65px;
    padding-bottom: 42px; } }

.about {
  background: #ffffff;
  text-align: center; }

.about__promo {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  margin: 0;
  padding: 12px 20px;
  padding-top: 41px;
  text-align: center;
  color: #283645; }

.about__promo--slim {
  padding-top: 14px; }

.about__list-header {
  fill: #ffffff;
  width: 100%; }

.about__list-wrapper {
  position: relative;
  background-color: #f2f2f2; }
  .about__list-wrapper::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto; }

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding-top: 35px; }

.about__item {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .about__item:last-child {
    padding-bottom: 302px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: bottom -43px center;
    overflow-y: hidden; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .about__item:last-child {
        background-image: url("../img/iphone-screen-mobile@2x.png");
        background-size: auto 320px; } }

.about__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  margin-top: 15px;
  margin-bottom: 13px;
  line-height: normal;
  color: #000000; }

.about__effect {
  display: none; }

@media (min-width: 660px) {
  .about {
    text-align: left; }
  .about__promo {
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal;
    padding: 0;
    padding-top: 48px; }
  .about__promo--slim {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px; }
  .about__list-wrapper {
    position: relative; }
    .about__list-wrapper::before {
      top: -5px;
      left: 0; }
  .about__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 43px;
    padding-bottom: 10px; }
    .about__list::after {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      width: 268px;
      height: 481px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat; } }
    @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
      .about__list::after {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: auto 481px; } }

@media (min-width: 660px) {
  .about__item {
    width: 320px;
    padding: 0;
    padding-left: 10px;
    box-sizing: border-box; }
    .about__item:first-child {
      padding-top: 0; }
    .about__item:last-child {
      padding-bottom: 20px;
      background-image: none; }
  .about__title {
    margin-top: 18px; }
  .about__text-newline {
    display: block; }
  .about__effect {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 0 45px;
    padding: 40px 0; }
    .about__effect::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 238px;
      height: 276px;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 238px 276px; }
    .about__effect::after {
      content: "24";
      position: absolute;
      top: 65px;
      left: 19px;
      width: 202px;
      height: 202px;
      padding: 33px;
      box-sizing: border-box;
      font-size: 96px;
      line-height: 96px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      background-color: #ffffff;
      border: 15px solid #d22856;
      border-radius: 50%;
      color: #d22856; }
  .about__effect-wrapper {
    width: 310px; }
  .about__effect-title {
    width: 170px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    color: #000000; }
  .about__newline,
  .about__effect-text-newline {
    display: block; }
  .about__effect-text {
    margin-bottom: 5px; }
  .about__link {
    color: #d22856; } }

@media (min-width: 960px) {
  .about__promo {
    font-size: 50px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 66px;
    letter-spacing: normal;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 67px; }
  .about__promo--slim {
    padding-right: 117px;
    padding-left: 117px;
    padding-top: 5px;
    box-sizing: border-box; }
  .about__list-wrapper {
    position: relative; }
    .about__list-wrapper::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 94px;
      background-size: 100% 100%; }
  .about__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    margin-top: 60px;
    padding-top: 0;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center; }
    .about__list::after {
      display: none; }
  .about__item {
    position: relative;
    width: 240px;
    padding: 0;
    padding-top: 340px; }
    .about__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 240px;
      height: 300px;
      background-repeat: no-repeat;
      background-position: center; }
    .about__item:nth-child(1) {
      padding-top: 340px; }
    .about__item:nth-child(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png"); } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
      .about__item:nth-child(1)::before {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: auto 300px; } }

@media (min-width: 960px) {
    .about__item:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png"); } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
      .about__item:nth-child(2)::before {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: auto 300px; } }

@media (min-width: 960px) {
    .about__item:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png"); } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
      .about__item:nth-child(3)::before {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: auto 300px; } }

@media (min-width: 960px) {
  .about__text-newline {
    display: none; }
  .about__title {
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    font-weight: bold;
    margin-bottom: 24px; }
  .about__newline,
  .about__effect-text-newline {
    display: none; }
  .about__wrapper {
    padding-bottom: 70px;
    background-color: #f2f2f2; }
  .about__effect {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px; }
    .about__effect::before {
      top: 20px;
      left: 0;
      width: 298px;
      height: 345px;
      background-size: 298px 345px; }
    .about__effect::after {
      top: 88px;
      left: 23px;
      width: 253px;
      height: 253px;
      padding: 15px;
      font-size: 120px;
      line-height: 187px; }
  .about__effect-wrapper {
    width: 530px;
    margin: 0;
    margin-top: 66px;
    margin-right: 35px; }
  .about__effect-title {
    width: 100%;
    padding-left: 5px; }
  .about__effect-text {
    margin-bottom: 35px;
    padding-left: 5px; }
  .about__effect-link {
    padding-left: 5px; } }

.reviews {
  position: relative; }

.reviews__slider {
  margin: 0;
  padding: 0;
  padding-top: 11px; }

@media (min-width: 960px) {
  .reviews__slider {
    padding: 0 10px; } }

.slider {
  width: 100%;
  box-sizing: border-box; }

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 29px; }

.slider__item {
  display: none;
  margin: 0;
  padding: 0; }

.slider__item--active {
  display: block; }

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 29px 0 38px;
  padding: 0; }

.slider__toggle {
  width: 13px;
  height: 13px;
  margin: 0 6px;
  padding: 0;
  background-color: rgba(40, 54, 69, 0.3);
  border: 3px solid #ffffff;
  border-radius: 50%; }
  .slider__toggle:hover {
    background-color: rgba(40, 54, 69, 0.6); }
  .slider__toggle:active {
    background-color: rgba(40, 54, 69, 0.1); }

.slider__toggle--active {
  opacity: 1;
  border: 3px solid #283645;
  background-color: #ffffff; }

.slider__btn {
  display: none; }

@media (min-width: 660px) {
  .slider__controls {
    margin: 34px 0 0; } }

@media (min-width: 960px) {
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .slider__controls {
    display: none; }
  .slider__btn {
    display: block;
    min-width: 30px;
    min-height: 30px;
    max-width: 31px;
    max-height: 31px;
    margin: 0;
    margin-top: 96px;
    margin-right: -3px;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
    background-color: #ffffff;
    border: none;
    transform: rotate(45deg); }
    .slider__btn:hover {
      outline: none;
      border-color: rgba(40, 54, 69, 0.6); }
    .slider__btn:active {
      border-color: rgba(40, 54, 69, 0.1); }
  .slider__btn--left {
    border-bottom: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2; }
  .slider__btn--right {
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2; }
  .slider__list {
    position: relative;
    width: 690px;
    padding-top: 150px; }
    .slider__list::before {
      content: "";
      position: absolute;
      top: 39px;
      right: 50%;
      width: 80px;
      height: 65px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(50%); } }

.review {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-align: center; }

.review__author {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal; }

.review__author-info {
  display: none; }

.review__text {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  line-height: 30px; }

@media (min-width: 660px) {
  .review {
    display: flex;
    flex-direction: column-reverse; }
  .review__author {
    font-size: 20px; }
  .review__author-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal; }
  .review__text {
    margin-top: 0;
    margin-bottom: 36px;
    padding: 0;
    font-size: 18px;
    max-width: 660px; } }

@media (min-width: 960px) {
  .review__author {
    font-size: 24px;
    line-height: 30px; }
  .review__author-info {
    font-size: 18px; }
  .review__text {
    max-width: 690px; } }

.prices {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 125% auto; }

.prices__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 62px;
  overflow: hidden; }

.prices__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 37px 0;
  padding: 0; }

.prices__toggle {
  width: 13px;
  height: 13px;
  margin: 0 6px;
  padding: 0;
  background-color: #283645;
  opacity: 0.3;
  border: 3px solid #ffffff;
  border-radius: 50%; }

.prices__toggle--active {
  opacity: 1;
  border: 3px solid #283645;
  background-color: #ffffff; }

.prices__tariffs {
  margin: 0;
  padding: 0;
  transform: translateX(0); }

.prices__tariffs--base {
  transform: translateX(280px);
  transition: 0.5s; }

.prices__tariffs--standard {
  transform: translateX(0);
  transition: 0.5s; }

.prices__tariffs--unlimited {
  transform: translateX(-280px);
  transition: 0.5s; }

@media (min-width: 660px) {
  .prices::before {
    height: 50px; }
  .prices__wrapper {
    margin-top: 38px; }
  .prices__control {
    display: none; }
  .prices__tariffs--base,
  .prices__tariffs--standard,
  .prices__tariffs--unlimited {
    transform: translateX(0); } }

@media (min-width: 960px) {
  .prices::before {
    height: 80px; }
  .prices__wrapper {
    margin-top: 110px; } }

.tariffs {
  display: block;
  width: 840px;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0; }

.tariffs__header {
  box-sizing: border-box;
  min-width: 279px;
  max-height: 94px;
  padding-top: 15px;
  padding-bottom: 22px;
  color: #ffffff;
  background-color: #283645;
  border-left: 2px solid #f2f2f2; }

.tariffs__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase; }

.tariffs__value {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase; }

.tariffs__header--feature {
  min-width: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none; }

.tariffs__header--hit {
  position: relative; }
  .tariffs__header--hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 74px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: 74px 73px; }
  .tariffs__header--hit::after {
    position: absolute;
    content: "хит";
    height: 10px;
    width: 28px;
    top: 20px;
    left: 9px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d22856;
    transform: rotate(-45deg);
    z-index: 1; }

.tariffs__option {
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  border-top: none; }

.tariffs__option--feature {
  min-width: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none; }

.tariffs__feature {
  display: none; }

.tariffs__feature-name {
  padding: 5px 0; }

.tariffs__feature-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }

.tariffs__feature-value {
  position: relative; }

.tariffs__feature-value--on {
  padding: 0; }
  .tariffs__feature-value--on::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    min-width: 26px;
    max-width: 27px;
    min-height: 14px;
    max-height: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #2aab6d;
    border-left: 3px solid #2aab6d;
    transform: rotate(-45deg); }

.tariffs__feature-value--off {
  padding: 0; }
  .tariffs__feature-value--off::before, .tariffs__feature-value--off::after {
    content: "";
    position: absolute;
    top: 16px;
    right: -5px;
    width: 35px;
    height: 3px;
    background-color: #f25b26;
    transform: rotate(45deg); }
  .tariffs__feature-value--off::after {
    transform: rotate(-45deg); }

@media (min-width: 660px) {
  .tariffs {
    width: 620px; }
  .tariffs__header {
    min-width: 155px;
    padding-top: 9px;
    padding-bottom: 10px; }
  .tariffs__header--hit {
    position: relative; }
    .tariffs__header--hit::before {
      width: 61px;
      height: 61px;
      background-image: url("../img/bg-hit-tablet.svg");
      background-size: 61px 61px; }
    .tariffs__header--hit::after {
      top: 15px;
      left: 4px; }
  .tariffs__title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase; }
  .tariffs__value {
    margin: 0;
    padding: 0;
    font-size: 18px; }
  .tariffs__option {
    padding-top: 7px;
    padding-bottom: 7px; }
  .tariffs__option--feature {
    min-width: 153px;
    margin: 0;
    padding: 7px 15px;
    text-transform: none;
    background-color: #fefefe;
    border: 2px solid #f2f2f2; }
  .tariffs__feature-value--on::before {
    top: -13px;
    right: -13px; }
  .tariffs__feature-value--off::before, .tariffs__feature-value--off::after {
    top: 0;
    right: -17px; }
  .tariffs__feature {
    display: block; }
  .tariffs__feature-name {
    display: none; }
  .tariffs__feature-wrapper {
    justify-content: center;
    align-items: center; } }

@media (min-width: 960px) {
  .tariffs {
    width: 950px; }
  .tariffs__header {
    min-width: 236px;
    padding-top: 15px;
    padding-bottom: 23px; }
  .tariffs__header--hit::before {
    top: 0;
    width: 75px;
    height: 75px;
    background-image: url("../img/bg-hit.svg");
    background-size: 75px 75px; }
  .tariffs__header--hit::after {
    top: 21px;
    left: 12px; }
  .tariffs__title {
    font-size: 18px; }
  .tariffs__value {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal; }
  .tariffs__option {
    font-size: 18px;
    padding: 14px 25px; }
  .tariffs__option--feature {
    padding: 14px 25px; } }

.contacts {
  min-height: 574px;
  text-align: center; }

.contacts__wrapper {
  background-color: #ffffff; }

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px; }

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 20px;
  box-sizing: border-box; }

.contacts__text-wrapper {
  margin: 0;
  padding: 9px 0; }

.contacts__name {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  display: block; }

.contacts__value {
  padding: 10px 0 28px;
  color: #d22856;
  font-weight: 300;
  text-decoration: none; }

.contacts__newline {
  display: block; }

.contacts__map {
  position: relative;
  min-height: 202px;
  margin: 0;
  padding: 0;
  line-height: 0;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: bottom center;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-mobile@2x.jpg");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 320px; } }
  .contacts__map::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 35px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%; }

.contacts__map-image {
  position: absolute;
  top: 97px;
  right: 50%;
  transform: translateX(50%); }

.contacts__map-iframe {
  position: relative;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 202px;
  margin: 0;
  padding: 0; }

@media (min-width: 660px) {
  .contacts__title {
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal; }
  .contacts__title-newline {
    display: block; }
  .contacts__text {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 0 0; }
  .contacts__text-wrapper {
    width: 50%;
    padding-top: 12px;
    box-sizing: border-box; }
  .contacts__value {
    display: block;
    padding: 0;
    padding-bottom: 21px; }
  .contacts__map {
    position: relative;
    min-height: 372px;
    margin: 0;
    padding: 0;
    line-height: 0;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: bottom -128px left -20px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 700px; } }

@media (min-width: 660px) {
    .contacts__map::before {
      height: 70px; }
  .contacts__map-image {
    top: 192px; }
  .contacts__map-iframe {
    height: 372px; } }

@media (min-width: 960px) {
  .contacts__map-iframe {
    height: 512px; }
  .contacts__title {
    font-size: 50px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 66px;
    letter-spacing: normal;
    margin-bottom: 27px; }
  .contacts__text {
    justify-content: space-between;
    padding: 0; }
  .contacts__text-wrapper {
    width: 32%; }
  .contacts__text-wrapper--address {
    order: 1; }
  .contacts__text-wrapper--email {
    order: 2; }
  .contacts__value {
    padding: 0;
    padding-top: 22px; }
  .contacts__value--email:hover, .contacts__value--email:focus {
    text-decoration: underline;
    color: #283645;
    box-shadow: none; }
  .contacts__value--email:active {
    color: rgba(40, 54, 69, 0.3);
    box-shadow: none; }
  .contacts__map {
    min-height: 511px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: top -268px center;
    background-size: 1200px; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-desktop@2x.jpg"); } }

@media (min-width: 960px) {
    .contacts__map::before {
      height: 115px;
      background-size: 120% 125px; }
  .contacts__map-image {
    top: 274px; } }

.photos {
  position: relative; }

.photos__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.photos__item {
  margin-bottom: 22px;
  line-height: 0;
  box-sizing: border-box; }

.photos__item--panorama {
  position: relative;
  padding: 0;
  line-height: 0;
  box-sizing: border-box;
  overflow-x: hidden; }
  .photos__item--panorama::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    margin: 0;
    padding: 7px 5px;
    z-index: 1;
    box-sizing: border-box;
    background-color: #d22856;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center; }

.photos__picture {
  margin: 0;
  padding: 0; }

.photos__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 0; }

.photos__image--panorama {
  position: relative;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translateX(-50%); }

.photos__wrapper {
  margin: 0;
  padding: 18px 10px 10px 18px;
  background-color: #f2f2f2;
  line-height: 24px; }

.photos__title {
  margin: 0;
  padding: 0; }

.photos__author {
  font-weight: bold; }

.photos__time {
  font-size: 12px;
  text-transform: uppercase; }

.photos__text {
  margin: 0;
  padding: 0; }

.photos__rates {
  display: flex;
  margin: 14px 0;
  padding: 0;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  background-color: transparent;
  border: none; }
  .photos__rates::before {
    content: "";
    width: 13px;
    height: 12px;
    margin-right: 17px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat; }

.photos__rates--active::before {
  background-image: url("../img/icon-heart-active.svg"); }

@media (min-width: 660px) {
  .photos__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 32px;
    justify-content: space-between; }
  .photos__item {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    min-height: 435px;
    height: 100%;
    margin-bottom: 20px;
    padding: 0; }
  .photos__item--panorama {
    width: 100%;
    overflow-x: hidden; }
    .photos__item--panorama::before {
      top: 57px;
      right: 20px; }
  .photos__image--panorama {
    min-width: 700px; }
  .photos__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px 31px 20px 28px; }
  .photos__wrapper--panorama {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0; }
  .photos__title--panorama {
    flex-grow: 1;
    margin-right: 20px; }
  .photos__text {
    flex-grow: 1; }
  .photos__text--panorama {
    order: 1;
    min-height: 0; }
  .photos__rates {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 5px;
    padding: 0; }
    .photos__rates::before {
      margin: 0;
      padding: 0; }
  .photos__rates--panorama {
    margin: 0;
    padding: 0; }
    .photos__rates--panorama::before {
      margin-left: 15px; } }

@media (min-width: 960px) {
  .photos__list {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 54px;
    margin-bottom: 55px;
    padding-top: 29px;
    padding-left: 0; }
  .photos__wrapper--panorama {
    line-height: 24px; }
  .photos__item {
    min-height: 530px;
    margin-top: 22px;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px; }
  .photos__item--panorama {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0; }
    .photos__item--panorama::before {
      top: 53px;
      right: 130px; } }

.constructor {
  background-color: #f2f2f2; }

.constructor__form {
  margin: 0;
  padding: 0; }

.constructor__image {
  width: 100%;
  height: 100%; }

.constructor__controls {
  margin: 0;
  padding: 0; }

.constructor__buttons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px 20px;
  padding: 0; }

.constructor__button {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: none;
  opacity: 0.3;
  cursor: pointer; }
  .constructor__button:hover {
    opacity: 0.5; }
  .constructor__button:active, .constructor__button:focus {
    opacity: 1; }

.constructor__button--crop {
  background-image: url("../img/icon-editor-crop.svg");
  background-position: center;
  background-size: 48px 48px; }
  .constructor__button--crop:hover {
    background-image: url("../img/icon-editor-crop.svg"); }
  .constructor__button--crop:active, .constructor__button--crop:focus {
    background-image: url("../img/icon-editor-crop-active.svg"); }

.constructor__button--fill {
  background-image: url("../img/icon-editor-fill.svg");
  background-position: center;
  background-size: 48px 48px; }
  .constructor__button--fill:hover {
    background-image: url("../img/icon-editor-fill.svg"); }
  .constructor__button--fill:active, .constructor__button--fill:focus {
    background-image: url("../img/icon-editor-fill-active.svg"); }

.constructor__button--contrast {
  background-image: url("../img/icon-editor-contrast.svg");
  background-position: center;
  background-size: 32px 32px; }
  .constructor__button--contrast:hover {
    background-image: url("../img/icon-editor-contrast.svg"); }
  .constructor__button--contrast:active, .constructor__button--contrast:focus {
    background-image: url("../img/icon-editor-contrast-active.svg"); }

.constructor__button--active.constructor__button--crop {
  background-image: url("../img/icon-editor-crop-active.svg");
  opacity: 1; }

.constructor__button--active.constructor__button--fill {
  background-image: url("../img/icon-editor-fill-active.svg");
  opacity: 1; }

.constructor__button--active.constructor__button--contrast {
  background-image: url("../img/icon-editor-contrast-active.svg");
  opacity: 1; }

.constructor__ranges-list {
  margin: 0 20px;
  padding: 0;
  padding-bottom: 24px; }

.constructor__ranges-item {
  position: relative;
  display: none; }
  .constructor__ranges-item::after {
    content: "";
    position: absolute;
    top: 36px;
    left: -40px;
    width: calc(100% + 80px);
    height: 1px;
    background-color: rgba(40, 54, 69, 0.1); }

.constructor__ranges-item--crop .range__toggle {
  left: 80%; }

.constructor__ranges-item--fill .range__toggle {
  left: 50%; }

.constructor__ranges-item--contrast .range__toggle {
  left: 20%; }

.constructor__ranges-item--active {
  display: flex; }

.constructor__wrapper-buttons {
  margin: 0;
  padding: 49px 0 0;
  line-height: 0; }

.constructor__btn-upload {
  width: 100%;
  margin-bottom: 12px;
  background-color: transparent; }

.constructor__btn-reset {
  width: 100%;
  background-color: transparent; }

@media (min-width: 660px) {
  .constructor__form {
    display: flex; }
  .constructor__wrapper-picture {
    max-width: 300px;
    height: 400px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; }
  .constructor__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-left: 25px; }
  .constructor__filters {
    display: flex; }
  .constructor__buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0; }
  .constructor__button {
    width: 24px;
    height: 24px;
    margin: 10px 0 35px;
    box-sizing: border-box;
    opacity: 1; }
  .constructor__button--crop {
    background-image: url("../img/icon-editor-crop-active.svg");
    background-size: 24px 24px;
    background-position: bottom 3px left 3px; }
  .constructor__button--fill {
    background-image: url("../img/icon-editor-fill-active.svg");
    background-size: 24px 24px;
    background-position: top 3px left 3px; }
  .constructor__button--contrast {
    background-image: url("../img/icon-editor-contrast-active.svg");
    background-size: 16px 16px;
    background-position: bottom right; }
  .constructor__ranges-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 6px 0 31px;
    padding: 0; }
  .constructor__ranges-item {
    display: flex;
    width: 100%;
    height: 24px;
    margin: 11px 0 35px;
    padding: 0; }
    .constructor__ranges-item::after {
      top: auto;
      bottom: -24px;
      left: -56px;
      width: calc(100% + 74px); }
  .constructor__btn-upload {
    margin-bottom: 24px; } }

@media (min-width: 960px) {
  .constructor {
    max-width: 940px;
    box-sizing: border-box; }
  .constructor__form {
    margin: 0 10px; }
  .constructor__wrapper-picture {
    margin-right: 60px;
    margin-left: 60px; }
  .constructor__controls {
    width: 50%;
    max-width: 410px;
    margin: 0;
    margin-left: 30px;
    padding: 0; }
  .constructor__button {
    width: 48px;
    height: 48px;
    margin: 0 0 20px; }
  .constructor__button--crop {
    background-image: url("../img/icon-editor-crop-active.svg");
    background-position: center;
    background-size: 48px 48px; }
  .constructor__button--fill {
    background-image: url("../img/icon-editor-fill-active.svg");
    background-position: center;
    background-size: 48px 48px; }
  .constructor__button--contrast {
    background-image: url("../img/icon-editor-contrast-active.svg");
    background-position: center;
    background-size: 32px 32px; }
  .constructor__ranges-list {
    margin-right: 30px;
    margin-left: 44px; }
  .constructor__ranges-item::after {
    left: -90px;
    width: calc(100% + 120px); }
  .constructor__wrapper-buttons {
    display: flex; }
  .constructor__btn-upload {
    margin: 0;
    margin-right: 44px; } }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.social__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.social__link {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefefe;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat; }
  .social__link:hover {
    border: 3px solid #283645; }
  .social__link:active {
    opacity: 0.3;
    border: 3px solid rgba(40, 54, 69, 0.1); }

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg"); }

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  margin-right: 12px;
  margin-left: 12px; }

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-position: left 14px center; }

.developer__link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  text-decoration: none;
  color: #d22856; }
  .developer__link:hover {
    color: #283645; }
  .developer__link:active {
    color: rgba(40, 54, 69, 0.3); }

.developer__text {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-right: 14px;
  line-height: 18px;
  color: #283645; }

.contest {
  position: relative;
  text-align: center;
  box-sizing: border-box; }

.contest__wrapper {
  position: relative;
  margin: 10px 0;
  padding: 0 20px;
  text-align: left;
  border-style: none; }

.contest__wrapper--user {
  padding-bottom: 15px; }

.contest__wrapper--progress,
.contest__wrapper--application {
  padding-top: 38px;
  padding-bottom: 46px;
  background-color: #f2f2f2; }

.contest__wrapper--contacts {
  margin-top: 18px;
  margin-bottom: 25px; }

.contest__progress-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px; }

.contest__progress-item {
  margin: 0;
  padding: 0;
  margin-top: 52px; }

.contest__label {
  display: block;
  margin-bottom: 5px;
  margin-left: 22px;
  text-transform: uppercase;
  color: #d22856;
  line-height: 30px; }

.contest__label--center,
.contest__label--comment {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; }

.contest__legend {
  position: absolute;
  left: 0;
  padding: 0 40px;
  text-transform: uppercase;
  text-align: center;
  color: #d22856;
  line-height: 18px; }

.contest__legend--contacts {
  display: none; }

.contest__required-text {
  margin: 35px 0 15px;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px; }

.contest__required-label {
  color: #d22856; }

.contest__application-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px; }

.contest__application-item {
  margin: 0;
  padding: 0;
  margin-top: 46px; }

.contest__wrapper--comment {
  margin-top: 18px; }

.contest__wrapper--send {
  margin: 0;
  padding: 0; }

.contest__input {
  margin-bottom: 3px; }

.contest__comment-text {
  margin-top: 10px;
  margin-bottom: 18px;
  height: 201px;
  resize: none; }

.contest__btn-wrapper {
  margin: 0;
  padding: 0 20px; }

.contest__btn-submit {
  width: 100%;
  box-sizing: border-box; }

.contest__required-hidden {
  display: none; }

.contest__modal-error {
  position: absolute;
  top: 775px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%); }

.contest__modal-message {
  position: absolute;
  bottom: 450px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%); }

.contest__modal-text-newline {
  display: block; }

@media (min-width: 660px) {
  .contest {
    display: flex;
    flex-wrap: wrap; }
  .contest__wrapper {
    width: 100%; }
  .contest__wrapper--user {
    order: 0;
    padding-top: 15px; }
  .contest__wrapper--application {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin: 30px 20px;
    order: 1;
    padding: 0 60px 58px; }
  .contest__application-list {
    padding-top: 0; }
  .contest__wrapper--contacts {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin: 30px 20px;
    order: 2;
    padding: 20px 58px 0; }
  .contest__wrapper--progress {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin: 30px 20px;
    order: 3;
    padding: 0 60px 54px; }
  .contest__progress-list {
    padding-top: 0; }
  .contest__progress-item {
    margin: 51px 0 0; }
  .contest__wrapper--comment {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin: 30px 20px;
    order: 3;
    margin-top: 34px;
    padding-right: 58px;
    padding-left: 58px; }
  .contest__wrapper--send {
    order: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 20px;
    margin-bottom: 10px; }
  .contest__user-wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0 0;
    padding: 44px 0 0; }
  .contest__label {
    margin: 0;
    padding: 0;
    padding-right: 20px; }
  .contest__label--tel,
  .contest__label--email {
    position: relative;
    margin: 8px 0 12px 20px; }
    .contest__label--tel::after,
    .contest__label--email::after {
      content: "";
      position: absolute;
      top: -72px;
      right: 2px;
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
      background-position: center;
      background-repeat: no-repeat; }
  .contest__label--tel::after {
    background-image: url("../img/icon-phone.svg"); }
  .contest__label--email::after {
    background-image: url("../img/icon-mail.svg"); }
  .contest__label--comment {
    width: 185px;
    margin: -30px auto 0;
    padding: 0 36px;
    box-sizing: content-box;
    background: #ffffff; }
  .contest__legend {
    position: static;
    padding-right: 25px;
    padding-left: 25px; }
  .contest__legend--contacts {
    display: block;
    padding-right: 30px;
    padding-left: 30px; }
  .contest__legend--progress {
    padding-right: 30px;
    padding-left: 30px; }
  .contest__contacts-wrapper {
    display: flex;
    flex-direction: column-reverse; }
  .contest__comment-text {
    margin-top: 31px;
    margin-bottom: 30px;
    height: 193px;
    resize: none; }
  .contest__btn-wrapper {
    margin: 0;
    padding: 0; }
  .contest__btn-submit {
    width: 300px; }
  .contest__required-text {
    margin: 0;
    padding: 0; }
  .contest__modal-error {
    top: 290px; }
  .contest__modal-message {
    top: 765px;
    bottom: auto; }
  .contest__modal-title-newline {
    display: block; }
  .contest__modal-text-newline {
    display: inline; } }

@media (min-width: 960px) {
  .contest {
    margin: 35px 0 0;
    font-size: 14px;
    line-height: 30px; }
  .contest__wrapper {
    margin: 0; }
  .contest__wrapper--user {
    width: 435px;
    margin: 0;
    margin-right: 70px;
    padding: 0; }
  .contest__wrapper--application {
    width: 435px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 37px;
    padding: 3px 10px 0 74px; }
  .contest__legend--application {
    width: 330px;
    padding-right: 5px;
    padding-left: 5px; }
  .contest__wrapper--contacts {
    margin: 0;
    margin-top: 55px;
    padding: 37px 58px 0; }
  .contest__wrapper--progress {
    margin: 55px 0 0;
    padding-bottom: 60px; }
  .contest__wrapper--comment {
    margin: 64px 0 0; }
  .contest__wrapper--send {
    margin-top: 66px;
    padding: 0; }
  .contest__contacts-wrapper-col {
    display: flex;
    justify-content: space-between; }
  .contest__contacts-wrapper {
    width: 375px;
    margin: 0;
    padding: 0; }
  .contest__progress-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .contest__comment-text {
    margin-top: 28px;
    margin-bottom: 19px;
    height: 128px; }
  .contest__required-hidden {
    display: inline; }
  .contest__modal-title-newline {
    display: inline; } }

.modal {
  display: none;
  width: 320px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff; }

.modal--active {
  display: block; }

.modal__title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  margin-top: 0;
  padding-top: 46px;
  padding-right: 22px;
  padding-left: 22px; }

.modal__text {
  margin-bottom: 37px;
  padding-right: 22px;
  padding-left: 22px; }

.modal__text--message {
  padding-right: 25px;
  padding-left: 25px; }

.modal__btn-wrapper {
  padding: 50px 22px 54px;
  background-color: #f2f2f2; }

.modal__btn-wrapper--error {
  padding-top: 5px;
  background-color: #ffffff; }

.modal__btn {
  width: 100%; }

@media (min-width: 660px) {
  .modal {
    width: 460px; }
  .modal__title {
    font-size: 30px;
    line-height: 40px;
    padding-right: 80px;
    padding-left: 80px; }
  .modal__text {
    font-size: 18px;
    line-height: 24px;
    padding-right: 80px;
    padding-left: 80px; }
  .modal__text--message {
    padding-right: 75px;
    padding-left: 75px; } }

@media (min-width: 960px) {
  .modal {
    width: 780px; }
  .modal__title {
    padding-right: 215px;
    padding-left: 215px; }
  .modal__text {
    padding-right: 215px;
    padding-left: 215px; }
  .modal__text--message {
    padding-right: 190px;
    padding-left: 190px; }
  .modal__btn-wrapper {
    padding-right: 215px;
    padding-left: 215px; }
  .modal__btn-wrapper--error {
    padding-top: 50px;
    background-color: #f2f2f2; } }

.input {
  width: 100%;
  padding: 14px 22px 15px;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box; }
  .input:hover {
    border: 2px solid #283645; }
  .input:active, .input:focus {
    outline: none;
    border: 2px solid #d22856; }

.input-error {
  background-color: rgba(242, 91, 38, 0.3);
  border: 2px solid #f25b26; }

@media (min-width: 660px) {
  .input {
    padding-right: 19px;
    padding-left: 19px; } }

.textarea {
  width: 100%;
  padding: 14px 22px 15px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box; }
  .textarea:hover {
    border: 2px solid #283645; }
  .textarea:active, .textarea:focus {
    outline: none;
    border: 2px solid #d22856; }

@media (min-width: 660px) {
  .input {
    padding-right: 19px;
    padding-left: 19px; } }
